.about-us {
    padding: 42px 0 87px;
}
.about-us__title {
    margin-bottom: 34px;
}
.about-us__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}
.badge-item {
    width: 270px; 
    padding: 50px 35px 31px 35px;
    text-align: center;
    background: #EAF2F5;
    border-radius: 30px;
}
.badge__img {
    margin-bottom: 19px;
}
.badge__title {
    margin-bottom: 10px;
    font-family: 'Gilroy SemiBold';
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}
.badge__descr {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}