.footer {
    padding: 30px 0 30px;
}
.footer__row {
    display: flex;
}
.footer__heading {
    margin-right: 450px;
}
.footer__logo {
    display: flex;
    margin-bottom: 40px;
}
.logo-title {
    margin-left: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8E8E8E;
}
.social {
    display: flex;
    column-gap: 16px;
}
.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: #22253B;
    border-radius: 50%;
}
.social__link:hover {
    background: #F15525;
}
.footer__nav {
    margin-right: 160px;
    font-weight: 400;
    font-size: 13px;
}
.footer__nav li + li {
    margin-top: 25px;
}
.footer__nav li:hover {
    color: #F15525;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 62px;
}
.contacts li:hover {
    color: #F15525;
}
.phone {
    color: #38BFF2;
    margin-bottom: 4px;
}
.about-company {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #8E8E8E;
}